{% extends "base.html" %}



{% block cuerpo %}
    <div class="row"><!-- la fila -->
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda -->

            <h1> mami </h1>
        </div><!-- columna izquierda -->

    <div class="col-sm-12 col-md-8 col-xl-8"> <!-- columna derecha --> 
        <h1> padre </h1>
        <!-- la fila -->
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">codigo</th>
                <th scope="col">nombre</th>
                <th scope="col">creditos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
         <!-- la fila -->
    </div> <!-- columna derecha --> 
</div> <!-- la fila -->
{% endblock %}